<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/login" method="post">
        <input type="text" name="Username" placeholder="Username">

        <input type="text" name="password" placeholder="password">
    </form>

    <h1>this is home page</h1>

    <li><a href="/register">Sing Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout"></a></li>
</body>
</html>